# General
# ------------------------------------------------------------------------------
DJANGO_SECRET_KEY=YOUR_SECRET_KEY_HERE

# PostgreSQL
# ------------------------------------------------------------------------------
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_password

# Email
# ------------------------------------------------------------------------------
DJANGO_DEFAULT_FROM_EMAIL="Your Name <your.name@example.com>"

MAILJET_API_KEY=
MAILJET_SECRET_KEY=

# Sentry
# ------------------------------------------------------------------------------
SENTRY_DSN=

# Flower
CELERY_FLOWER_USER=flower_user
CELERY_FLOWER_PASSWORD=flower_password
