OPENAI_API_KEY=YOUR_API_KEY_HERE

# Email
# ------------------------------------------------------------------------------
# Set to True to use Anymail with Mailjet, False to use mailpit
USE_THIRD_PARTY_EMAIL_SERVICE=True
DJANGO_SERVER_EMAIL="SENDER NAME <name@example.com>"

MAILJET_API_KEY=
MAILJET_SECRET_KEY=
