# PostgreSQL
# ------------------------------------------------------------------------------
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_password

# Email
# ------------------------------------------------------------------------------
# Set to True to use Anymail with Mailjet, False to use mailpit
USE_THIRD_PARTY_EMAIL_SERVICE=False
DJANGO_DEFAULT_FROM_EMAIL="Your Name <your.name@example.com>"

# Mailjet
MAILJET_API_KEY=
MAILJET_SECRET_KEY=

# Celery
# ------------------------------------------------------------------------------

# Flower
CELERY_FLOWER_USER=flower_user
CELERY_FLOWER_PASSWORD=flower_password
