# General
# ------------------------------------------------------------------------------
# DJANGO_READ_DOT_ENV_FILE=True

DJANGO_DEBUG=False
DJANGO_DOMAIN_NAME=awade.gec.waseda.ac.jp

DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=<YOUR_SECRET_KEY_HERE>
DJANGO_ADMIN_URL=admin/
DJANGO_ALLOWED_HOSTS=awade.gec.waseda.ac.jp,localhost

# Security
# ------------------------------------------------------------------------------
# TIP: better off using DNS, however, redirect is OK too
DJANGO_SECURE_SSL_REDIRECT=False

# Email
# ------------------------------------------------------------------------------
DJANGO_DEFAULT_FROM_EMAIL="AWE <your.name@awade.gec.waseda.ac.jp>"

MAILJET_API_KEY=
MAILJET_SECRET_KEY=

# django-allauth
# ------------------------------------------------------------------------------
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True

# Gunicorn
# ------------------------------------------------------------------------------
WEB_CONCURRENCY=4

# Sentry
# ------------------------------------------------------------------------------
SENTRY_DSN=


# Redis
# ------------------------------------------------------------------------------
REDIS_URL=redis://redis:6379/0

# Celery
# ------------------------------------------------------------------------------

# Flower
CELERY_FLOWER_USER=awe_user
CELERY_FLOWER_PASSWORD=AWEpass2025

# OpenAI
OPENAI_API_KEY=

# Vue
VITE_API_BASE_URL=http://awade.gec.waseda.ac.jp/api
