# General
# ------------------------------------------------------------------------------
DJANGO_DOMAIN_NAME=YOUR_DOMAIN_NAME

DJANGO_SECRET_KEY=YOUR_SECRET_KEY_HERE
DJANGO_ALLOWED_HOSTS=YOUR_DOMAIN_NAME,localhost

# Superuser
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=

# PostgreSQL
# ------------------------------------------------------------------------------
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_password

# Email
# ------------------------------------------------------------------------------
DJANGO_DEFAULT_FROM_EMAIL="Your Name <your.name@example.com>"

MAILJET_API_KEY=YOUR_MAILJET_API_KEY
MAILJET_SECRET_KEY=YOUR_MAILJET_SECRET_KEY

# Sentry
# ------------------------------------------------------------------------------
SENTRY_DSN=

# Flower
CELERY_FLOWER_USER=flower_user
CELERY_FLOWER_PASSWORD=flower_password

# Vue
VITE_API_BASE_URL=http://YOUR_DOMAIN_NAME/api
